<app-nav-bar></app-nav-bar>
<div class="profile-container">
  <div class="info-container ">
      <div
        class="info"
        se
      >
          <h2>Profile</h2>
          <p>Username: {{user.Username}} </p>
          <p>Email: {{user.Email}}</p>
          <p>Birthday: {{user.Birthday.substring(0, user.Birthday.indexOf('T'))}}</p>
          <button
            mat-raised-button
            color="primary"
            (click)="updateDialog()"
          >
            Update
          </button>
          <button
            mat-raised-button
            (click)="deleteUser()"
            color="warn"
          >
            Delete User
          </button>
      </div>
      <mat-list class="fav-container">
          <h2>Favorites List</h2>
          <mat-list-item *ngFor="let movie of favMovies">
              <span matListItemTitle>{{movie.Title}}</span>
          </mat-list-item>
      </mat-list>
  </div>
</div>
